.header-table{
    width: 350px;
    margin-bottom: 0px;
    padding: 5px 5px 5px 5px;
    border: 3px solid;
    border-style: solid solid none; 
    border-radius: 5px 5px 0px 0px;
}

.footer-table{
    width: 350px;
    margin-top: 0px;
    padding: 0px 5px 5px 5px;
    border: 3px solid;
    border-style: none solid solid; 
    border-radius: 0px 0px 5px 5px;
}

tbody {
    margin: 5px 5px 5px 5px;
}

thead {
    margin: 5px 5px 5px 5px;
}

input {
    width: 250px;
}

textarea {
    resize: none;
    width: 250px;
    height: 150px;
}

.table-head{
    border-bottom: 2px solid;
}

.table-body{
    height: 219px;
}

.table-drain{
    border-bottom: 2px solid;
}

#save-layor{
    height: 30px;
    padding-right: 40px;
    width: 50%;
    text-align: right;
}

#delete-layor{
    padding-left: 40px;
    width: 50%;
    text-align: left
}

#re-layor{
    text-align: center;
}

button {
    height: 25px;
    width: 80px;
    color:black;
    background-color: white;
    border : 1px groove gray;
    border-radius: 6px;
}