<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <h2>메모가 저장되었습니다.</h2>
    <p>서버에 저장된 사진 <%=fileName%></p>
    <img src='http://localhost:5500/uploads/<%=fileName%>'>
    <a href="/">다시 작성</a>
</head>
<body>
    
</body>
</html>